body {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    align-items: center;

    background: #44ab9f;
    border: solid #000 1px;
    border-radius: 5px;

    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}
